body {
	margin: 0;
	background-color: #e3e3e3;
	font-family: Arial, Times New Roman, Georgia, Serif;
}
body > header {	
	text-align: center;
}
body > header > h1 {
	font-family: lobster;
	font-size: 6rem;
	margin-bottom: 0px;
}
body > header > p {
	font-size: 1rem;
	margin-bottom: 4rem;
}
body > main {
	background-color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0 auto;
	width: 80%;
	box-sizing: border-box;
}
main > header {
	display: flex;
	color: #b3c301;
	border-bottom: 2px solid #c8c6c8;
}
main > header > nav {
	display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
header > * > a {
	text-decoration: none;
	font-size: 1.16rem;
    color: currentcolor;
}
#searchForm {
	position: relative;
	display: flex;
}
#searchForm > button {
	-webkit-appearance: none;
	-moz-appearance: none;
    background-color: white;
    border: none;
    color: currentcolor;
    padding-bottom: 3px;
}
#searchForm > button:focus {outline-color: currentcolor;}
#searchForm > input {
	position: absolute;
	right: 2rem;
	bottom: 0;
	width: 0;
    border: none;
    padding: 0;
	transition: width 1s;
}
#searchForm > button:focus + input[type=search],
#searchForm > input[type=search]:focus {
	width: 16rem;
	padding: 3px .5rem;
	border: 1px solid currentcolor;
	outline-color: currentcolor;
	color: currentcolor;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content > p {
	font-family: roboto;
	font-size: 1rem;
	color: #b3c301;
}
.time {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: white;
	padding: 10% 20% 5% 20%;
	background: linear-gradient(to top, #f5f0f3 10%, #fff 20%);
}
.circle {
	width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #e4e2e4;
}
.progress-label {
	text-align: center;    
	font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
.woodWall {
	background-image: url('img/woodenBox.jpg');
	width: 100%;
}
.woodWall > p {
	text-align: center;
	padding-top: 2.2rem;
	font-size: 12px;
}
#emailForm {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 3.5rem;
	position: relative;
}
#emailForm input[type=email]{
	height: 2rem;
	width: 20rem;
	padding-left: 2px;
	border-radius: 1.5rem;
	font-style: italic;
	font-size: 0.75rem;
    opacity: 0.9;
}
#emailForm button {
	position: absolute;
	width: 5.6rem;
	height: 2rem;
	border-radius: 1.5rem;
	color: #e7ff00;
	background-color: #7f7d7f;

}